.navbar {
    font-family: Georgia;
    background-color: #50788a;
    color: #fff;
    border: none;
}
.navbar a {
    color: #fff;
}
.navbar ul li {
    margin: auto;
}
.navbar ul li a:hover{
    background-color: #abe5ff;
    color: #50788a;
    border: none;
}
body {
    background-color: #abe5ff;
}
.watch-dean {
    height: 100px;
    width: 200px;
    border-color: #6495ED;
    background-color: #50788a;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.watch-dean-text {
    font-family: serif;
    font-size: 30px;
    margin-top: .75em;
    color: #fff;
}

.watch-dean:hover {
    font-weight:bold;
    text-decoration: none;
}

.logo-img {
    width: 60%;
    height: 60%;
 }
#nav_logo_deanstream {
    height: 30px;
    margin-top: -14px;
}
