{% extends "base.html" %}
{% block body %}
    <div class="container">

      <div class="starter-template">
          <h1>About the Author</h1>
          <div><p class="lead">Hey I am Dean! I made this page because when I was in college my buddies used to hate to let me sleep. This idea was thought up one night at a diner, it brings me great joy to see it reach reality. Dreams really do come true kids. Stay in school, vote Silfen.</p></div>
    </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
{% endblock %}
