<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
    <div class="container">

        <div class="starter-template">
            <div>
          <img class="logo-img" src="../static/img/deanstream.png"/>
          <div>
            <video id="another" src="{{ url_for('static', filename='webm/couch.webm') }}" autoplay loop>video goes here</video>
            {%- if altimg  -%}  <img src"{{ url_for('static', filename='img/{{ altimg }}') }}"/> {%- endif -%}
          <br/>
          <a href='#another' id="new_video"><div class="watch-dean"><p class="watch-dean-text">ANOTHER!</p></div></a>
    </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
{% endblock %}
